*{
    margin:0;
    padding:0;
}

nav{
   background-color: #D13434;
   padding: 0% 1% 1% 1%; 
}

nav ul {
    margin: 0 auto;
    width: 45%;
}

#wrapper{
    background-color: #979797;
    font-family: sans-serif;
}

.thin {
    width: 80%;
    padding-left: 5%;
    text-align: center;
}

nav ul li{
    display: inline;
    margin-right: 10%;
    padding-left: 15%;
}

h1, h2{
    text-align: center;
}

article{
    display: inline;
}